MONGO_URI=mongodb://localhost:27017/
DB_NAME=postal_db
GEMINI_API_KEY=your-gemini-api-key-here
USE_GEMINI=true
TESSERACT_PATH=C:\Program Files\Tesseract-OCR\tesseract.exe
SECRET_KEY=any-random-string
